canvas {
	height: 500px;
	width: 300px;
	border: 1px solid gray;
}

h1 {
	font-family: serif;
	color: blue;
}

body {
	font-family: fantasy;
	color: red;
	margin: 1px;
}

input {
	font-size: 14px;
}